<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Chapa!
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header> -->

  <!-- <iframe src="https://embed.waze.com/iframe?zoom=12&lat=-22.8179006&lon=-45.1842361,17" width="100%" height="85%"></iframe> -->
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d52491.28276725693!2d-44.93822676499057!3d-22.63636680020995!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9eac47d15d629f%3A0x1581178fbc401586!2sRod.%20Pres.%20Dutra!5e0!3m2!1spt-BR!2sbr!4v1592148053152!5m2!1spt-BR!2sbr" width="100%" height="85%" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
  <ion-row>
    <ion-col size="4">
      <ion-row>
        <ion-col>
          <span>Chegada</span><br>
          13h30
        </ion-col>
      </ion-row>
    </ion-col>
    <ion-col size="4">
      <ion-row>
        <ion-col>
          <span>Restante</span><br>
          130 KM
        </ion-col>
      </ion-row>
    </ion-col>
    <ion-col size="4">
      <ion-row>
        <ion-col>
          <span>Percorrido</span><br>
          800 KM
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
  <!-- <app-explore-container name="Tab 1 page"></app-explore-container> -->
</ion-content>
