<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Chapa!
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Tab 3 page"></app-explore-container> -->
  <ion-grid>
    <ion-row>
      <ion-col>
        <h5>Empresas Parceiras</h5>
      </ion-col>
    </ion-row>
    <ion-row [routerLink]="['/avaliacao']">
      <ion-col size="3">
        <img src="https://img2.gratispng.com/20180320/phq/kisspng-computer-icons-marketplace-shopping-iconfinder-market-stand-icon-5ab0f55ad6fbc1.7636261115215465868806.jpg" alt="">
      </ion-col>
      <ion-col>
        <strong>Restaurante Dona Florinda</strong><br>
        <span>Panquecas, sanduiches de presunto, xícaras de café, etc</span><br>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star-half"></ion-icon>
        - 3 KM
      </ion-col>
    </ion-row>
    <hr>
    <ion-row [routerLink]="['/avaliacao']">
      <ion-col size="3">
        <img src="https://img2.gratispng.com/20180320/phq/kisspng-computer-icons-marketplace-shopping-iconfinder-market-stand-icon-5ab0f55ad6fbc1.7636261115215465868806.jpg" alt="">
      </ion-col>
      <ion-col>
        <strong>Posto Seu Madruga</strong><br>
        <span>Já fui de tudo nesse mundo</span><br>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
        - 3 KM
      </ion-col>
    </ion-row>
    <hr>
    <ion-row [routerLink]="['/avaliacao']">
      <ion-col size="3">
        <img src="https://img2.gratispng.com/20180320/phq/kisspng-computer-icons-marketplace-shopping-iconfinder-market-stand-icon-5ab0f55ad6fbc1.7636261115215465868806.jpg" alt="">
      </ion-col>
      <ion-col>
        <strong>Hotel Seu Barriga</strong><br>
        <span>A melhor hospedaria da região</span><br>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
        - 3 KM
      </ion-col>
    </ion-row>
    <hr>
    <ion-row [routerLink]="['/avaliacao']">
      <ion-col size="3">
        <img src="https://img2.gratispng.com/20180320/phq/kisspng-computer-icons-marketplace-shopping-iconfinder-market-stand-icon-5ab0f55ad6fbc1.7636261115215465868806.jpg" alt="">
      </ion-col>
      <ion-col>
        <strong>Pedagio CCR</strong><br>
        10 KM
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
